.top-inner-items {
    position: sticky;
    top: 0;
}


.inner-activity h2 {

    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.inner-activity h3 {
    text-align: center;
    text-decoration: 2px underline;
}

.icon-config {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    margin-right: 15px;
}

.location {
    margin-left: 20px;
}

.user {
    font-size: 25px;

}

user p {
    margin-right: 20px;
}

.user-info {
    display: flex;
    justify-content: center;
    color: bisque;
    background-color: black;
    width: 320px;
    border-radius: 10px;
    align-items: center;
}

.user-info div {
    padding: 10px 15px;
}

.user-text {
    color: aliceblue;
    text-align: center;
    text-decoration: overline;
}

.activity-time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 88px;
    width: 320px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.activity-time button {
    height: 45px;
    border: none;
    background-color: bisque;
    border-radius: 30px;
    padding: 0 11px;
    margin: 0 5px;
    font-size: 15px;
}


.activity-time button:hover {
    background-color: aliceblue;
}

.addTime {
    display: flex;
    align-items: center;
    background-color: black;
    color: aliceblue;
    margin: 20px 0;
    padding: 0 20px;
    height: 55px;
    width: 280px;
    border-radius: 10px;
}

.breakTime {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 0 20px;
    background-color: black;
    color: aliceblue;
    height: 55px;
    width: 280px;
    border-radius: 10px;
}

.completed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    padding: 0 20px;
    background-color: black;
    color: aliceblue;
    height: 55px;
    width: 320px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.completed:hover {

    background-color: aliceblue;
    color: black;


}

@media screen and (max-width:480px) {
    .top-inner-items {
        display: flex;
        justify-content: center;
    }

    .inner-activity {
        padding: 20px 0;

    }

}

@media screen and (min-width:481px) and (max-width:768px) {
    .user-info {
        width: 450px;
    }

    .activity-time {
        width: 450px;
    }

    .addTime {
        width: 415px;
    }

    .breakTime {
        width: 415px;
    }

    .completed {
        width: 455px;
    }
}