.text-area {
    width: 92%;
    border-radius: 10px;
    color: aliceblue;
    margin: 40px 66px;
    text-align: justify;
}

.top-text {
    text-align: center;
    text-decoration: underline;
}

.text-area h3,
p {
    padding: 12px;
}

@media screen and (max-width:480px) {
    .text-area {
        width: 85%;
    }
}

@media screen and (min-width:481px) and (max-width:765px) {
    .text-area {
        width: 85%;
    }
}

@media screen and (min-width: 766px) and (max-width:1024px) {
    .text-area {
        width: 85%;
    }
}

@media screen and (min-width: 1025px) and (max-width:1523px) {
    .text-area {
        width: 85%;
    }
}