.gym {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 66px;
    color: black;
}

.gym-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 44px;
    margin: 55px 0;
}

.activity-container {
    display: flex;
    justify-content: center;
    background-color: bisque;

}

.activity-header h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.activity-header h3 {
    text-align: center;
}

.icon-config {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.location {
    margin-left: 20px;
}

.user {
    font-size: 25px;
    margin-right: 8px;
}

.activity-time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 88px;
    width: 320px;
    border-radius: 10px;
}

.activity-time button {
    height: 45px;
    border: none;
    background-color: bisque;
    border-radius: 30px;
    padding: 0 16px;
    margin: 0 5px;
}

.activity-time button:hover {
    background-color: aliceblue;
}