.gymplan-container {
    width: 305px;
    height: 510px;
    /* border: 2px solid rgb(189, 149, 102); */
    border-radius: 8px;
    position: relative;
    background-color: bisque;
}

.gymplan-container img {
    width: 290px;
    height: 244px;
    margin: 7px;
    border-radius: 8px;
}

.gymplan-text {
    padding: 15px;
    line-height: 15px;
}