.gymplan-container {
    display: block;
    justify-content: center;
    align-items: center;
    width: 305px;
    height: 530px;
    /* border: 2px solid rgb(189, 149, 102); */
    border-radius: 8px;
    background-color: bisque;
    position: relative;
}

.gymplan-container img {
    width: 290px;
    height: 244px;
    margin: 7px;
    border-radius: 8px;
}

.gymplan-text {
    padding: 15px;
    line-height: 15px;
}

.btn-add {
    position: absolute;
    bottom: 0;
    color: aliceblue;
    font-size: 18px;
    border: none;
    /* margin: 0 40px; */
    background-color: black;
    border-radius: 0 0 8px 8px;
    /* width: 225px; */
    height: 50px;
    width: 100%;
}

.btn-add:hover {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
}

@media screen and (max-width: 668px) {
    .top-gymplan {
        display: flex;
        justify-content: center;
    }


}