.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid bisque;
    padding: 0 70px;
    height: 80px;
    background-color: black;
    align-items: center;
}


.header-container a {
    color: white;
    text-decoration: none;
    padding-left: 33px;
}

.header-container a:hover {
    color: bisque;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-style: italic;
}

.header-text {
    margin-bottom: 25px;
    color: aliceblue;
    font-size: 24px;
    text-decoration: 3px bisque underline;
}

.header-text2 {
    color: bisque;
    text-decoration: 3px aliceblue overline;
    margin-top: 29px;
    font-size: 20px;
    font-family: 'Prata', serif;
}

.logo-type {
    color: bisque;
    margin-right: 10px;
    font-size: 30px;

}

@media screen and (max-width:480px) {

    .header-container {
        display: block;
        width: 100%;
        height: auto;


    }

    .nav-menu {
        display: flex;
        justify-content: center;
        font-size: medium;
        margin-bottom: 15px;

    }

    .logo {
        justify-content: center;
        margin: 0;
        padding: 0;

    }
}